<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Charger une image</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"
		th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">
		
		<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
		integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
		 crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 30px;">
   <div class="row">
       <div class="col-md-6 col-md-offset-3">
       	   <div class="panel panel-primary">
       	       <div class="panel-heading">      	         
       	           		<h1 class="panel-title">Upload a new Image</h1>   
       	       </div>
       	   
       	   <div class="panel-body">
       	   		<div class="row">
       	   		  <form method="post" enctype="multipart/form-data"
                                       th:action="@{'/image/'+${recipe.id}+'/save/'}">
                     <div class="col-md-8">                               
                              <label class="control-label">Select File</label>
                              <input id="imagefile" name="imagefile" type="file" class="file">
                     </div>
                                    
                     <div class="col-md-4"> 
                           <button type="submit" class="btn btn-primary">Submit</button>       
                     </div>
                  </form>
                </div>
       	   </div>
       	  </div>
       </div>
    </div>
</div>
</body>
</html>