<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ingredients</title>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">
	
	<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
	integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
	 crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 30px;">
   <div class="row">
       <div class="col-md-6 col-md-offset-3">
       	   <div class="panel panel-primary">
       	       <div class="panel-heading">
       	           <h1 class="panel-title">
       	              List of Ingredient
       	           </h1>
       	           
       	       </div>
       	       <div class="panel-body">
       	               <div class="table-responsive" th:if="${not #lists.isEmpty(recipeCommand.ingredients)}">
       	                   <table class="table table-hover">
       	                         <thead class="thead-inverse">
       	                             <tr>
       	                                <td><b>ID</b></td>       	                             
       	                                <td><b>Description</b></td>
       	                                <td><b>View</b></td>
       	                                <td><b>Update</b></td>
       	                                <td><b>Delete</b></td>
       	                             </tr>
       	                         </thead>
       	                         <tr th:each="ingr : ${recipeCommand.ingredients}">
       	                                <td th:text = ${ingr.id}></td>     	                                
       	                                <td th:text = ${ingr.description}></td>
       	                                <td><a th:href="@{'/ingredient/show/'+${ingr.id}}">View</a></td>
       	                                <td><a th:href="@{'/ingredient/update/'+${ingr.id}}">Update</a></td>
       	                                <td><a th:href="@{'/ingredient/delete/'+${ingr.id}}">Delete</a></td>
       	                         </tr>
       	                   </table>
       	               </div>
       	           </div>
       	       </div>
       	   </div>
       </div>
   
</div>
</body>
</html>